In [1]:
# Importing Packages
import pandas as pd
import numpy as np

In [2]:
## Import datasets from Kaggle
# df = pd.read_csv('/kaggle/input/credit-card-transactions/credit_card_transactions-ibm_v2.csv')
# user = pd.read_csv('/kaggle/input/credit-card-transactions/sd254_users.csv')
# card = pd.read_csv('/kaggle/input/credit-card-transactions/sd254_cards.csv')
df = pd.read_csv('/kaggle/input/credit-card-transactions/User0_credit_card_transactions.csv')

In [3]:
# Assuming your DataFrame is named df
# Convert 'Amount' column to numeric format
df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)

# Group transactions by merchant name and sum the amounts
grouped_transactions = df.groupby('Merchant Name')['Amount'].sum().reset_index()

# Rename the columns for clarity
grouped_transactions.columns = ['Merchant Name', 'Total Amount Spent']

# Create a new DataFrame
new_df = pd.DataFrame(grouped_transactions)

# Rename the merchants to series of names
unique_merchants = new_df['Merchant Name'].unique()
new_df['Merchant Name'] = new_df['Merchant Name'].apply(lambda x: f'Merchant{list(unique_merchants).index(x) + 1}')

new_df

    Merchant Name  Total Amount Spent
0       Merchant1               83.87
1       Merchant2            27098.28
2       Merchant3               71.93
3       Merchant4               10.25
4       Merchant5             4013.77
..            ...                 ...
547   Merchant548               25.76
548   Merchant549               50.55
549   Merchant550             1729.13
550   Merchant551              703.91
551   Merchant552              638.87

[552 rows x 2 columns]

In [4]:
# Reducing the size of Data 

reduced_df = new_df.iloc[:150]
# reduced_df = new_df

In [5]:
# Randomize dataframe with categories for mechants 
# Define the categories
categories = [
    "Housing", "Transportation", "Food", "Healthcare", "Debt Payments",
    "Personal Care", "Entertainment", "Clothing and Accessories",
    "Savings and Investments", "Education", "Charitable Donations",
    "Travel", "Utilities", "Childcare", "Miscellaneous"
]

# Generate random categories for merchants
np.random.seed(42)  # For reproducibility
num_merchants = 552
random_categories = np.random.choice(categories, size=num_merchants)

# Create DataFrame
data = {
    'Merchant Name': [f"Merchant{i}" for i in range(1, num_merchants + 1)],
    'category': random_categories
}

categories_df = pd.DataFrame(data)

# Display the DataFrame
categories_df

    Merchant Name              category
0       Merchant1         Entertainment
1       Merchant2            Healthcare
2       Merchant3             Utilities
3       Merchant4         Miscellaneous
4       Merchant5  Charitable Donations
..            ...                   ...
547   Merchant548                Travel
548   Merchant549                Travel
549   Merchant550                Travel
550   Merchant551         Debt Payments
551   Merchant552         Entertainment

[552 rows x 2 columns]

In [6]:
merged_df = pd.merge(reduced_df, categories_df, on='Merchant Name')
merged_df

    Merchant Name  Total Amount Spent              category
0       Merchant1               83.87         Entertainment
1       Merchant2            27098.28            Healthcare
2       Merchant3               71.93             Utilities
3       Merchant4               10.25         Miscellaneous
4       Merchant5             4013.77  Charitable Donations
..            ...                 ...                   ...
145   Merchant146               48.49                  Food
146   Merchant147            30660.00               Housing
147   Merchant148              290.95  Charitable Donations
148   Merchant149              100.93         Debt Payments
149   Merchant150             1284.27             Education

[150 rows x 3 columns]

In [7]:
# Group data by category and calculate total spend using sum()
spending_df = merged_df.groupby('category')['Total Amount Spent'].sum().reset_index()

# Sort spending_df by 'Total Amount Spent' in descending order
spending_df_sorted = spending_df.sort_values(by='Total Amount Spent', ascending=False).reset_index(drop=True)

# Print the category totals
spending_df_sorted

                    category  Total Amount Spent
0                     Travel            53426.47
1              Miscellaneous            36446.29
2                 Healthcare            34904.41
3                    Housing            31729.09
4       Charitable Donations            28069.73
5             Transportation            10867.12
6                  Childcare             9485.01
7              Debt Payments             8284.08
8              Personal Care             7396.47
9    Savings and Investments             5844.76
10                 Education             5213.88
11                 Utilities             3595.49
12  Clothing and Accessories             3547.63
13                      Food             3011.03
14             Entertainment             2586.33

In [8]:

reward_data = {
    "category": ["Housing", "Transportation", "Food", "Healthcare", "Debt Payments",
                  "Personal Care", "Entertainment", "Clothing and Accessories",
                  "Savings and Investments", "Education", "Charitable Donations",
                  "Travel", "Utilities", "Childcare", "Miscellaneous"],
  "RBC Avion Visa Infinite": [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
  "RBC Cash Back Preferred World Elite Mastercard": [0.005, 0.005, 0.015, 0.005, 0.005, 0.005, 0.015, 0.005, 0.015, 0.005, 0.005, 0.005, 0.015, 0.015, 0.005],
  "RBC ION Visa": [0.01, 0.01, 0.005, 0.005, 0.005, 0.005, 0.015, 0.005, 0.005, 0.005, 0.005, 0.005, 0.015, 0.015, 0.005]
}
reward_df = pd.DataFrame(reward_data)
reward_df

,category,RBC Avion Visa Infinite,RBC Cash Back Preferred World Elite Mastercard,RBC ION Visa
0,Housing,0.01,0.005,0.010
1,Transportation,0.01,0.005,0.010
2,Food,0.01,0.015,0.005
3,Healthcare,0.01,0.005,0.005
4,Debt Payments,0.01,0.005,0.005
5,Personal Care,0.01,0.005,0.005
6,Entertainment,0.01,0.015,0.015
7,Clothing and Accessories,0.01,0.005,0.005
8,Savings and Investments,0.01,0.015,0.005
9,Education,0.01,0.005,0.005
10,Charitable Donations,0.01,0.005,0.005
11,Travel,0.01,0.005,0.005
12,Utilities,0.01,0.015,0.015
13,Childcare,0.01,0.015,0.015
14,Miscellaneous,0.01,0.005,0.005

In [9]:
# Calculate reward for each card
for card in reward_df.columns[1:]:
  spending_df_sorted["Reward - " + card] = spending_df_sorted["Total Amount Spent"] * reward_df[card]

# Calculate total reward for each card
card_totals = spending_df_sorted.iloc[:, 2:].sum(axis=0)  # Exclude the first 2 columns, sum across rows

# Find the card with the highest reward
highest_reward_card = card_totals.idxmax()

# Print total reward per card and highest reward card
print("Total Reward per Card:")
for card in card_totals.index:
  print(f"{card}: {card_totals[card]:.2f}")

print(f"\nThe highest reward card would be {highest_reward_card}.")

Total Reward per Card:
Reward - RBC Avion Visa Infinite: 2444.08
Reward - RBC Cash Back Preferred World Elite Mastercard: 1805.48
Reward - RBC ION Visa: 1831.84

The highest reward card would be Reward - RBC Avion Visa Infinite.