In [1]:
# Importing Packages
import pandas as pd

In [2]:
## Import datasets from Kaggle
# df = pd.read_csv('/kaggle/input/credit-card-transactions/credit_card_transactions-ibm_v2.csv')
# user = pd.read_csv('/kaggle/input/credit-card-transactions/sd254_users.csv')
# card = pd.read_csv('/kaggle/input/credit-card-transactions/sd254_cards.csv')
df = pd.read_csv('/kaggle/input/credit-card-transactions/User0_credit_card_transactions.csv')

In [3]:
# Assuming your DataFrame is named df
# Convert 'Amount' column to numeric format
df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)

# Group transactions by merchant name and sum the amounts
grouped_transactions = df.groupby('Merchant Name')['Amount'].sum().reset_index()

# Rename the columns for clarity
grouped_transactions.columns = ['Merchant Name', 'Total Amount Spent']

# Create a new DataFrame
new_df = pd.DataFrame(grouped_transactions)

# Rename the merchants to series of names
unique_merchants = new_df['Merchant Name'].unique()
new_df['Merchant Name'] = new_df['Merchant Name'].apply(lambda x: f'Merchant{list(unique_merchants).index(x) + 1}')

In [4]:
new_df

    Merchant Name  Total Amount Spent
0       Merchant1               83.87
1       Merchant2            27098.28
2       Merchant3               71.93
3       Merchant4               10.25
4       Merchant5             4013.77
..            ...                 ...
547   Merchant548               25.76
548   Merchant549               50.55
549   Merchant550             1729.13
550   Merchant551              703.91
551   Merchant552              638.87

[552 rows x 2 columns]